.contact {

}

.hours-contact {
  // align-items: center;
  // justify-content: flex-start;
  >div {
    // flex-grow: 1;
    flex-basis: 50%;
    padding: $pm-xlg;
    &:first-child {
      margin-left: -15px;
    }
    &:last-child {
      margin-right: -15px;
    }
  }
  .hours, .contact {
    >div:first-child {
      @include font-fine;
      font-size: 30px;
      margin-bottom: $pm-lg;
    }
  }
  .hours {
    background: $grey-dark-less;
    color: white;
  }
  .contact-wrapper {
    position: relative;
    &::after {
      content: "";
      background: url(../images/brush.jpg);
      background-size: cover;
      opacity: 0.2;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;
    }
  }
}
