.navbar {
  // height: 300px;
  button {
    border: none;
    padding: $pm-md;
    &:hover {
      background-color: $grey-light;
      cursor: pointer;
      -webkit-transition: background-color 200ms linear;
      -ms-transition: background-color 200ms linear;
      transition: background-color 200ms linear;
    }
  }
}
