.packaged-services {
  background-color: $accent;
}

.packaged-service {
  @include font-fine;
  &.blank {
    height: 0px;
  }
  flex-basis: 200px;
  margin: $pm-md;
  .s-name {
    margin-right: $pm-md;
  }
  .s-price {
    margin-left: $pm-md;
  }
  .name-price {
    // display: flex;
    // justify-content: space-between;
    font-size: 18px;
  }
  .des-line {
    font-size: 14px;
    margin: $pm-md $none;
  }
  .service-image {
    width: 200px;
    height: 200px;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .includes {
    >div {
      font-size: 12px;
      // font-style: italic;
      &:first-child {
        font-size: 14px;
        margin-bottom: $pm-sm;
        border-bottom: 1px solid $grey;
        font-style: normal;
      }
    }
  }
}
