.service-list {
  display: flex;
  flex-wrap: wrap;
  &.packaged {
    justify-content: space-around;
  }
}

.basic-service {
  border-bottom: 1px solid $grey-light;
  flex: 1 0 40%;
  margin: $pm-md;
  justify-content: space-between;
  .s-name {
    margin-right: $pm-md;
  }
  .s-price {
    margin-left: $pm-md;
  }
}

.packaged-service {
  width: 200px;
  // background: $grey-light;
  margin: $pm-md;
  .s-name {
    margin-right: $pm-md;
  }
  .s-price {
    margin-left: $pm-md;
  }
  .service-image {
    width: 200px;
    height: 170px;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
}
