.hours-contact > div {
  flex-grow: 1; }

.app-header {
  background: url(../images/header-background.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 200px;
  padding: 20px;
  color: white;
  text-transform: uppercase; }

.header-container {
  max-width: 500px; }

.header-image {
  max-width: 100%; }

.main-title {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 7px;
  font-size: 50px; }

.book-online {
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  height: 75px; }
  .book-online button {
    font-family: 'Playfair Display', serif;
    background: #222;
    width: 100%;
    border: none;
    padding: 30px;
    color: white;
    font-size: 25px;
    line-height: 25px; }
    .book-online button:hover {
      background: #333;
      cursor: pointer;
      font-size: 26px;
      -webkit-transition: all 200ms linear;
      -ms-transition: all 200ms linear;
      transition: all 200ms linear; }

.navbar {
  align-items: stretch; }
  .navbar button {
    border: none;
    padding: 15px;
    background: white; }
    .navbar button:hover {
      background-color: lightgrey;
      cursor: pointer;
      -webkit-transition: background-color 200ms linear;
      -ms-transition: background-color 200ms linear;
      transition: background-color 200ms linear; }
    @media (hover: none) {
      .navbar button:hover {
        background-color: inherit; } }

.summary-text {
  max-width: 500px;
  margin: 0 15px; }

.circle-image {
  width: 350px;
  height: 350px;
  margin-bottom: 60px;
  border-radius: 50%;
  overflow: hidden; }
  .circle-image img {
    margin: auto;
    height: 100%; }

.packaged-services {
  background-color: #efece2; }

.service-list {
  display: flex;
  flex-wrap: wrap; }
  .service-list.packaged {
    justify-content: space-between; }

.basic-service {
  border-bottom: 1px solid lightgrey;
  flex: 1 0 40%;
  margin: 15px;
  justify-content: space-between; }
  .basic-service .s-name {
    margin-right: 15px; }
  .basic-service .s-price {
    margin-left: 15px; }

.packaged-service {
  flex-basis: 200px;
  margin: 15px; }
  .packaged-service.blank {
    height: 0px; }
  .packaged-service .s-name {
    margin-right: 15px; }
  .packaged-service .s-price {
    margin-left: 15px; }
  .packaged-service .name-price {
    display: flex;
    justify-content: space-between; }
  .packaged-service .des-line {
    font-size: 12px;
    margin: 15px 0; }
  .packaged-service .service-image {
    width: 200px;
    height: 170px;
    overflow: hidden; }
    .packaged-service .service-image img {
      width: 100%; }

.app {
  font-family: 'Open Sans', sans-serif; }

.flex {
  display: flex; }
  .flex.col {
    flex-direction: column; }
  .flex.center-center {
    justify-content: center;
    align-items: center; }
  .flex.left-center {
    justify-content: flex-start;
    align-items: center; }

.content {
  padding-left: 15px;
  padding-right: 15px; }

.con-padded {
  padding: 60px; }

.app-title {
  font-size: 1.5em; }

.section-title {
  margin: 15px;
  font-size: 30px; }
