@import './variables';
@import './contact';
@import './header';
@import './navbar';
@import './overview';
@import './packagedservices';
@import './services';

.flex {
  display: flex;
  &.col {
    flex-direction: column;
  }
  &.center-center {
    justify-content: center;
    align-items: center;
  }
  &.left-center {
    justify-content: flex-start;
    align-items: center;
  }
}

.content {
  padding-left: $pm-md;
  padding-right: $pm-md;
}

.app-header {
  background-color: $grey-dark;
  height: 150px;
  padding: 20px;
  color: white;
}

.app-title {
  font-size: 1.5em;
}
