@import './variables';
@import './mixins';
@import './contact';
@import './header';
@import './navbar';
@import './overview';
@import './packagedservices';
@import './services';
@import './policies';

.app {
  @include font-main;
}

.flex {
  display: flex;
  &.col {
    flex-direction: column;
  }
  &.center-center {
    justify-content: center;
    align-items: center;
  }
  // &.left-center {
  //   justify-content: flex-start;
  //   align-items: center;
  // }
  &.space-between-center {
    justify-content: space-between;
    align-items: center;
  }
}

.content {
  padding-left: $pm-md;
  padding-right: $pm-md;
}

.con-padded {
  padding: $pm-xlg;
}

.app-title {
  font-size: 1.5em;
}

.section-title {
  margin: $pm-md;
  font-size: 30px;
}

.image-section {
  background: url(../images/straight-razor.jpg) no-repeat center center fixed;
  @media (max-width: 767px) {
    background-attachment: initial;
  }
  background-size: 100vw;
  height: 300px;
}

.social-media {
  >a {
    margin-left: $pm-md;
    &:hover {
      opacity: 0.7;
    }
  }
}

.cash-only {
  margin: $pm-lg $pm-md $pm-md;
  font-size: 25px;
  text-align: center;
  opacity: 0.5;
}


.announcement {
  padding: 30px 15vw;
  background-color: #efece2;
}

.announcement > div > div {
  margin: 5px;
}

.announcement > div > div.link-wrapper {
  width: 100%;
  /* padding: 0px; */
  margin: 10px 0px;
}

.announcement a {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  background: #222;
  padding: 15px;
  color: white;
  display: block;
  text-align: center;
  border-radius: 2px;
}

.announcement a span {
  font-size: 20px;
}

.announcement a:hover {
  background: #333;
  cursor: pointer;
  -webkit-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear;
 }